<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi85OvWMDw_yh3WAhvpted0IzoFfsfsSs</string>
	<key>GCM_SENDER_ID</key>
	<string>1072252489603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pohyoja.PicCharge</string>
	<key>PROJECT_ID</key>
	<string>piccharge-afbc7</string>
	<key>STORAGE_BUCKET</key>
	<string>piccharge-afbc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072252489603:ios:dd802aa3a7bc8aa982f0b6</string>
	<key>DATABASE_URL</key>
	<string>https://piccharge-afbc7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>